/* Footer
    ----------------------------------------------------------------- */

    #l-footer{
        color: #FFFFFF;
        text-align: center;
        padding: $space_l;
        background-color: $background-color_main;
    }
    